<footer class="py-7 py-md-9 bg-black">
  <div class="container px-4">
    <div class="row gx-7">
      <div class="col-sm-4">

        <!-- Heading -->
        <h5 class="text-xs text-purple">
          About Us
        </h5>

        <!-- Text -->
        <p class="mb-6">
          Allovous is a 4-piece rock band formed in Enfield, CT in 2019. Known for their intimate and energetic live shows, Allovous feeds off of the force of our fans to forge unforgettable memories.
        </p>

      </div>
      <div class="col-sm-4">

        <!-- Heading -->
        <h5 class="text-xs text-purple">
          Contact the Band
        </h5>

        <!-- List -->
        <ul class="list-unstyled mb-6">
          <li class="d-flex mb-2">
            <div class="fas fa-map-marker-alt me-3 mt-2 fs-sm"></div>
            P.O. Box Coming Soon!
          </li>
          <li class="d-flex mb-2">
            <div class="fas fa-phone me-3 mt-2 fs-sm"></div>
            860-882-8577
          </li>
          <li class="d-flex">
            <div class="far fa-envelope me-3 mt-2 fs-sm"></div> <a href="mailto:admin@domain.com">allovousmusic@gmail.com</a>
          </li>
        </ul>

      </div>
      <div class="col-sm-4">

        <!-- Heading -->
        <h5 class="text-xs text-purple">
          Booking
        </h5>

        <!-- Text -->
        <div class="mb-3">
          <div class="text-xs">Monday - Thursday</div>
          <div class="font-serif">10:00 AM - 11:00 PM</div>
        </div>

        <!-- Text -->
        <div class="mb-6">
          <div class="text-xs">Friday - Sunday</div>
          <div class="font-serif">12:00 AM - 03:00 AM</div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <!-- Copyright -->
        <div class="d-flex align-items-center">
          <hr class="hr-sm me-3" style="height: 1px;" /> &copy; 2021 AllovousMusic. All rights reserved.
        </div>

      </div>
    </div>
  </div>
</footer>


<!--  -->