<nav class="navbar navbar-light navbar-expand-lg {{#is toggle 'false'}}navbar-togglable{{/is}} fixed-top">
  <div class="container">

    <!-- Navbar brand (mobile) -->
    <a class="navbar-brand d-lg-none" href="{{webRoot}}/index.html"><img class="img-fluid" src="assets/img/Logo2.png" alt="..."></a>

    <!-- Navbar toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Navbar nav -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {{#is page 'about-us.html'}}active{{/is}}" href="{{webRoot}}/about-us.html">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#is page 'menu.html'}}active{{/is}}" href="{{webRoot}}/music.html">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#is page 'reservation.html'}}active{{/is}}" href="{{webRoot}}/shows.html">Shows & Tour</a>
        </li>
      </ul>

      <!-- Navbar brand -->
      <a class="navbar-brand d-none d-lg-flex mx-lg-auto" href="{{webRoot}}/index.html">
        <img class="img-fluid" src="assets/img/Logo2.png" alt="...">
      </a>

      <!-- Navbar nav -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {{#is page 'news-and-events.html'}}active{{/is}}" href="{{webRoot}}/news-and-events.html">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#is page 'gallery.html'}}active{{/is}}" href="{{webRoot}}/gallery.html">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#is page 'contact-us.html'}}active{{/is}}" href="{{webRoot}}/contact-us.html">Booking</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
