//
// reboot.scss
//

*:focus {
  outline: none;
}

::selection {
  background-color: $white;
  color: $white;
}
a {
  color: purple;
}
@media screen and (max-width: 400px) 
{
    .h2
    {
     font-size: 1.0rem !important;
    }
    
}