<!doctype html>
<html lang="en">

<head>
  {{> partials/head title="About Us - AllovousMusic"}}
</head>

<body style="background-color: #008252;">

  <!-- NAVBAR -->
  {{> partials/navbar variant="dark" toggle="true" page="about-us.html"}}

  <!-- HEADER -->
  <header data-jarallax data-speed=".8">
    <div class="pt-10 pb-8 pt-md-15 pb-md-13 bg-black-50" style="background-image: url(assets/img/1.jpg);     
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">

            <!-- Heading -->
            <h1 class="display-6 fw-bold text-white">
              About Us
            </h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- TESTIMONIALS -->
  <section class="py-7 py-md-9 border-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

          <!-- Heading -->
          <h2 class="mb-2">
            Memembers in the band
          </h2>

          <!-- Subheading -->
          <p class="mb-6">

          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <!-- Slider -->
          <div data-flickity='{"imagesLoaded": true, "wrapAround": true}'>
            <div class="w-100">
              <div class="row align-items-center justify-content-center">
                <div class="col-8 col-md-3 order-md-1">

                  <!-- Avatar -->
                  <img class="img-fluid rounded-circle mb-5 mb-md-0" src="assets/img/20.jpg" alt="..." />

                </div>
                <div class="col-md-7 order-md-0">
                  <h2 class="mb-2">Caleb Smith</h2>
                  <!-- Blockquote -->
                  <figure class="mx-auto mb-0" style="max-width: 500px;">

                    <p class="font-serif text-black mb-5">
                      From an early age, Caleb has been drawn to the drums, and rhythm in general. He credits his
                      exposure to live music as
                      a child to laying the foundation for the pursuit of his craft. After sitting behind the kit at age
                      3 at his cousins
                      in Otis MA, he knew he was a drummer. Influenced heavily by funk, jazz, and improvisational rock,
                      influences include
                      Billy Martin, Adam Deitch, Alan Evans, and Bill kreutzmann among others. Though primarily self
                      taught, he studied with
                      Mike Marcinowski, and attended Pioneer Valley Performing Arts high school where he learned
                      different methods of
                      counting time in eastern music classes. Highly focused on feel and connection to the listener, his
                      love for
                      music and performance is unwavering.
                    </p>

                  </figure>

                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="row align-items-center justify-content-center">
                <div class="col-8 col-md-3 order-md-1">

                  <!-- Avatar -->
                  <img class="img-fluid rounded-circle mb-5 mb-md-0" src="assets/img/4.jpg" alt="..." />

                </div>
                <div class="col-md-7 order-md-0">
                  <h2 class="mb-2">Gregory Eichler</h2>
                  <!-- Blockquote -->
                  <figure class="mx-auto mb-0" style="max-width: 500px;">

                    <p class="font-serif text-black mb-5">
                      GIVE ME A BIO GREG!
                    </p>

                  </figure>

                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="row align-items-center justify-content-center">
                <div class="col-8 col-md-3 order-md-1">

                  <!-- Avatar -->
                  <img class="img-fluid rounded-circle mb-5 mb-md-0" src="assets/img/19.jpg" alt="..." />

                </div>
                <div class="col-md-7 order-md-0">
                  <h2 class="mb-2">Tyler Rurak</h2>
                  <!-- Blockquote -->
                  <figure class="mx-auto mb-0" style="max-width: 500px;">

                    <p class="font-serif text-black mb-5">
                      Tyler Rurak is a bass player, and a singer songwriter in the band Allovous. Predominantly a bassist but Tyler loves to
                       dabble and play whatever instrument is presented to him. From a young age Tyler was always fascinated by music and 
                       would always sing along to anything on the radio. Although his interest in music was never catered to at a young age.
                        He got his first guitar at 17, but never received any guidance or formal training so his pursuit and interest was 
                        put aside for some years until later on until about the age of 23. When he bought his first mandolin and taught
                         himself how to play both the mandolin and guitar, then found his love of playing the bass guitar at around the age 
                         of 25 when he learned to play it for the band Allovous.
                    </p>

                  </figure>

                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="row align-items-center justify-content-center">
                <div class="col-8 col-md-3 order-md-1">

                  <!-- Avatar -->
                  <img class="img-fluid rounded-circle mb-5 mb-md-0" src="assets/img/21.jpg" alt="..." />

                </div>
                <div class="col-md-7 order-md-0">
                  <h2 class="mb-2">Zain Najeebi</h2>
                  <!-- Blockquote -->
                  <figure class="mx-auto mb-0" style="max-width: 500px;">

                    <p class="font-serif text-black mb-5">
                      I need a bio piece to plug in here!
                    </p>

                  </figure>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- INFO -->
  <section class="py-7 py-md-9">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

          <!-- Heading -->
          <h2 class="mb-2">
            Behind the scenes
          </h2>

          <!-- Subheading -->
          <p class="mb-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia obcaecati sit odio velit culpa aspernatur
            consectetur natus quidem minima veritatis.
          </p>

        </div>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col-md-6 order-md-2">

          <!-- Image -->
          <img class="img-fluid mw-md-120 clip-top-start" src="assets/img/24.jpg" alt="...">

        </div>
        <div class="col-md-5 order-md-1">

          <!-- Text -->
          <p class="lead text-black">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sequi ratione, accusamus quo mollitia
            architecto, explicabo obcaecati.
          </p>

          <!-- Text -->
          <p class="mb-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum enim saepe aperiam eius, quam blanditiis
            necessitatibus dolorem dignissimos pariatur quas velit nihil tempora, libero unde molestiae! Illum,
            inventore. Iusto, autem!
          </p>

          <!-- Text -->
          <p class="mb-md-0">
            <a class="btn btn-outline-primary" href="contact-us.html">
              Contact Us
            </a>
          </p>

        </div>
      </div>
    </div>
  </section>


  <!-- FOOTER -->
  {{> partials/footer}}

  <!-- TOAST -->
  {{> partials/toast}}

  <!-- JAVASCRIPT -->
  {{> partials/scripts}}

</body>

</html>