<!doctype html>
<html lang="en">

<head>
  {{> partials/head title="Booking - AllovousMusic"}}
</head>

<body style="background-color: #008252;">

  <!-- NAVBAR -->
  {{> partials/navbar variant="dark" toggle="true" page="contact-us.html"}}

  <!-- HEADER -->
  <header data-jarallax data-speed=".8" style="background-image: url(assets/img/8.jpg);">
    <div class="pt-10 pb-8 pt-md-15 pb-md-13 bg-black-50">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">

            <!-- Heading -->
            <h1 class="display-6 fw-bold text-white">
              Contact Us
            </h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- CONTACT -->
  <section class="py-7 py-md-9">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

          <!-- Heading -->
          <h2 class="mb-2 text-white">
            Book us for your event today!
          </h2>

          <!-- Subheading -->
          <p class="mb-6 text-white-75">
            Fill out the form below and we will reach out to you with booking information within 24 hours.
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-md-3 order-md-2">

          <!-- Heading -->
          <h4 class="mb-2 text-xs text-white">
            Write us
          </h4>

          <!-- Text -->
          <p class="mb-4 font-serif">
            <a href="mailto:allovousmusic@gmail.com">allovousmusic@gmail.com</a>
          </p>

          <!-- Heading -->
          <h4 class="mb-2 text-xs text-white">
            Call us
          </h4>

          <!-- Text -->
          <p class="mb-4 font-serif">
            <a href="tel:+18608828577 ">+1 860-882-8577 </a>
          </p>

          <!-- Heading -->
          <h4 class="mb-2 text-xs text-white">
            Send us SnailMail!
          </h4>

          <!-- Text -->
          <p class="mb-4 font-serif text-white-75">
            P.O. Box coming soon!
          </p>

          <!-- Heading -->
          <h4 class="mb-2 text-xs">
            Social links
          </h4>

          <!-- List -->
          <div class="d-flex mb-6 mb-md-0 font-serif">
            <a class="d-block me-3 text-white-hover" href="https://www.facebook.com/allovousmusic">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="d-block text-white-hover" href="https://www.instagram.com/allovousmusic/">
              <i class="fab fa-instagram"></i>
            </a>
          </div>

        </div>
        <div class="col-md-9 order-md-1">

          <!-- Form -->
          <form class="" id="contactForm">

            <!-- Contact number (hidden) -->
            <input type="hidden" name="contact_number">

            <!-- Name -->
            <div class="mb-3">
              <label class="visually-hidden" for="user_name">Full name</label>
              <input class="form-control" id="user_name" name="user_name" type="text" placeholder="Full name"
                required />
            </div>

            <!-- Email -->
            <div class="mb-3">
              <label class="visually-hidden" for="user_email">E-mail address</label>
              <input class="form-control" id="user_email" name="user_email" type="email" placeholder="E-mail address"
                required />
            </div>

            <!-- Message -->
            <div class="mb-3">
              <label class="visually-hidden" for="message">Message</label>
              <textarea class="form-control" id="message" name="message" rows="9" placeholder="Message"
                required></textarea>
            </div>

            <!-- Button -->
            <button class="btn btn-outline-purple" type="submit">
              Send message
            </button>

          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  {{> partials/footer}}

  <!-- TOAST -->
  {{> partials/toast}}

  <!-- JAVASCRIPT -->
  {{> partials/scripts}}

</body>

</html>