<!doctype html>
<html lang="en">

<head>
  {{> partials/head title="Gallery - AllovousMusic"}}
</head>

<body style="background-color: #008252;">

  <!-- NAVBAR -->
  {{> partials/navbar variant="dark" toggle="true" page="gallery.html"}}

  <!-- HEADER -->
  <header data-jarallax data-speed=".8" style="background-image: url(assets/img/2.jpg);">
    <div class="pt-10 pb-8 pt-md-15 pb-md-13 bg-black-50">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">

            <!-- Heading -->
            <h1 class="display-6 fw-bold text-white">
              Our Gallery
            </h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- CAROUSEL -->
  <section class="pt-7 pt-md-9">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

          <!-- Heading -->
          <h1 class="mb-2 text-white fw-bold">
            Highlights From the Latest Preformances
          </h1>

          <!-- Subheading -->
          <p class="mb-6 text-white-75">
            Below are some of our favorite shots from our latest preformances!
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <!-- Carousel -->
          <div data-flickity='{"wrapAround": true, "imagesLoaded": true}'>
            <figure class="w-100">

              <!-- Image -->
              <img class="img-fluid mb-4" src="assets/img/14.jpg" style="height: 75%;" alt="..." />

              <!-- Caption -->
              <figcaption class="text-center text-white">
                Beckett, MA August 2021
              </figcaption>

            </figure>
            <figure class="w-100">

              <!-- Image -->
              <img class="img-fluid mb-4" src="assets/img/11.jpg" alt="..." />

              <!-- Caption -->
              <figcaption class="text-center text-white">
                Beckett, MA August 2021
              </figcaption>

            </figure>
            <figure class="w-100">

              <!-- Image -->
              <img class="img-fluid mb-4" src="assets/img/8.jpg" alt="..." />

              <!-- Caption -->
              <figcaption class="text-center text-white">
                Beckett, MA August 2021
              </figcaption>

            </figure>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- GALLERY -->
  <section class="py-7 py-md-9">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

          <!-- Heading -->
          <h1 class="mb-2 text-white fw-bold">
            Our gallery
          </h1>

          <!-- Subheading -->
          <p class=" mb-6 text-white">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>

        </div>
      </div>
      <div class="row gx-3" data-isotope>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/1.jpg" }'>
            <img class="img-fluid" src="assets/img/1.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/2.jpg" }'>
            <img class="img-fluid" src="assets/img/2.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/3.jpg" }'>
            <img class="img-fluid" src="assets/img/3.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/4.jpg" }'>
            <img class="img-fluid" src="assets/img/4.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/5.jpg" }'>
            <img class="img-fluid" src="assets/img/5.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/6.jpg" }'>
            <img class="img-fluid" src="assets/img/6.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/7.jpg" }'>
            <img class="img-fluid" src="assets/img/7.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/8.jpg" }'>
            <img class="img-fluid" src="assets/img/8.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/9.jpg" }'>
            <img class="img-fluid" src="assets/img/9.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/10.jpg" }'>
            <img class="img-fluid" src="assets/img/10.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/11.jpg" }'>
            <img class="img-fluid" src="assets/img/11.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/12.jpg" }'>
            <img class="img-fluid" src="assets/img/12.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/13.jpg" }'>
            <img class="img-fluid" src="assets/img/13.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/14.jpg" }'>
            <img class="img-fluid" src="assets/img/14.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/15.jpg" }'>
            <img class="img-fluid" src="assets/img/15.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/16.jpg" }'>
            <img class="img-fluid" src="assets/img/16.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/17.jpg" }'>
            <img class="img-fluid" src="assets/img/17.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/18.jpg" }'>
            <img class="img-fluid" src="assets/img/18.jpg" alt="...">
          </a>

        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  {{> partials/footer}}

  <!-- TOAST -->
  {{> partials/toast}}

  <!-- JAVASCRIPT -->
  {{> partials/scripts}}

</body>

</html>