<!doctype html>
<html lang="en">

<head>
  {{> partials/head title="Homepage - AllovousMusic"}}
</head>

<body style="background-color: #008252;">

  <!-- NAVBAR -->
  {{> partials/navbar variant="dark" toggle="true"}}

  <!-- WELCOME -->
  <header data-jarallax data-speed=".1" style="background-image: url(assets/img/2.jpg); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;">
    <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0">
      <div class="container my-auto">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">


            <!-- Heading -->
            <h1 class="display-1 text-white mb-4">
              <img class="img-fluid" src="assets/img/Logo2.png" alt="...">
            </h1>

            <!-- Subheading -->
            <p class="text-center text-white-75 mb-7">
              A band from Connecticut!

            </p>

            <!-- Button -->
            <a class="btn btn-outline-purple text-white text-black-hover mb-7 mb-md-0" href="contact-us.html">
              Book Today!
            </a>

          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md">

            <!-- Social links -->
            <ul class="list-inline text-center text-md-start mb-3 my-md-5">
              <li class="list-inline-item ms-5">
                <a class="text-white-75 text-purple-hover" href="https://www.facebook.com/allovousmusic">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item ms-5">
                <a class="text-white-75 text-purple-hover" href="https://www.instagram.com/allovousmusic/" >
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>

          </div>
          <div class="col-md">

            <!-- Address -->
            <p class="font-serif text-white-75 text-center text-md-end text-lg-end my-md-5">
              <i class="fas fa-map-marker-alt text-primary me-3"></i> Enfield, CT 06082
            </p>

          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- NEWSLETTER -->
  <section class="py-7 py-md-9 "style="background-color: #008252;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

          <!-- Heading -->
          <h2 class="mb-2 text-white">
            Newsletter
          </h2>

          <!-- Subheading -->
          <p class="mb-6 text-white">
            To sign up for our news letter, put in your email address and click subscribe!
          </p>

        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">

          <!-- Begin Mailchimp Signup Form -->
          <div id="mc_embed_signup">
            <form
              action="https://gmail.us6.list-manage.com/subscribe/post?u=c7b7808bb5a16b9f09c4e1fe0&amp;id=96b8442f9a"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"
              novalidate>
              <div class="row justify-content-center gx-3" id="mc_embed_signup_scroll">
                <div class="col">
                  <label class="visually-hidden" for="mce-EMAIL">Email Address </label>
                  <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL">
                </div>
                <div class="visually-hidden" id="mce-responses">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_c7b7808bb5a16b9f09c4e1fe0_96b8442f9a" tabindex="-1" value="">
                </div>
                <div class="col-auto">
                  <input class="btn btn-outline-purple" type="submit" value="Subscribe" name="subscribe"
                    id="mc-embedded-subscribe">
                </div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->

        </div>
      </div>
    </div>
  </section>




  <!-- FOOTER -->
  {{> partials/footer}}

  <!-- TOAST -->
  {{> partials/toast}}

  <!-- JAVASCRIPT -->
  {{> partials/scripts}}

</body>

</html>