<!doctype html>
<html lang="en">

<head>
  {{> partials/head title="Music - AllovousMusic"}}
</head>

<body style="background-color: #008252;">

  <!-- NAVBAR -->
  {{> partials/navbar variant="dark" toggle="true" page="menu.html"}}

  <!-- HEADER -->
  <header data-jarallax data-speed=".8" style="background-image: url(assets/img/6.jpg);">
    <div class="pt-10 pb-8 pt-md-15 pb-md-13 bg-black-50">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">

            <!-- Heading -->
            <h1 class="display-6 fw-bold text-white">
              Our Music
            </h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- MENU -->
  <section class="py-7 py-md-9 border-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

          <!-- Heading -->
          <h1 class="mb-2 text-white fw-bold">
            Browse by Artist
          </h1>

          <!-- Subheading -->
          <p class="mb-6 text-white-75">
            Below you will find Spotify and SoundCloud players to allovous and our affiliated acts.
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col">

          <!-- Navigation -->
          <div class="nav justify-content-center mb-6" id="menuTabs" role="tablist">
            <a class="nav-link text-white" id="allovousTab" data-bs-toggle="tab" href="#allovous" role="tab"
              aria-controls="Allovous" aria-selected="true">
              Allovous
            </a>
            <a class="nav-link text-white" id="scanticTab" data-bs-toggle="tab" href="#scantic" role="tab" aria-controls="scantic">
              Scantic
            </a>
            <a class="nav-link text-white" id="zanTab" data-bs-toggle="tab" href="#zan" role="tab" aria-controls="zan">
              Zan
            </a>
            <a class="nav-link text-white" id="gregTab" data-bs-toggle="tab" href="#greg" role="tab" aria-controls="greg">
              Greg Eichler Solo
            </a>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <!-- Content -->
          <div class="tab-content" id="menuContent">
            <div class="tab-pane fade show active" id="allovous" role="tabpanel" aria-labelledby="AllovousTab">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="py-3 border-bottom">
                    <div class="row">
                      <div class="col-12 align-items-center">
                        <!-- Heading -->
                        <h2 class="text-white fw-bold">Allovous</h2>
                        <!-- Text -->
                        <p>
                          <iframe
                            src="https://open.spotify.com/embed/artist/3s9tTybizUUHq3tjQa3EAj?utm_source=generator"
                            width="100%" height="380" frameBorder="0" allowfullscreen=""
                            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="scantic" role="tabpanel" aria-labelledby="scanitcTab">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="py-3 border-bottom">
                    <div class="row">
                      <div class="col-2 align-self-center">
                      </div>

                      <div class="col-10">
                        <!-- Heading -->
                        <h2 class="text-white fw-bold">Scantic</h2>
                        <!-- Player -->
                        <p class="mb-2 text-white-75">
                          Link Coming soon!
                        </p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="zan" role="tabpanel" aria-labelledby="zanTab">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="py-3 border-bottom">
                    <div class="row">


                      <div class="col-12 align-self-center">
                        <!-- Heading -->
                        <h2 class="text-white fw-bold">Zan</h2>
                        <!-- Player -->
                        <p class="mb-3">
                          <iframe
                            src="https://open.spotify.com/embed/artist/15VQRzekffy2bikyf4hId9?utm_source=generator"
                            width="100%" height="380" frameBorder="0" allowfullscreen=""
                            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        </p>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="greg" role="tabpanel" aria-labelledby="gregTab">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="py-3 border-bottom">
                    <div class="row">
                      <div class="col-2 align-self-center">
                      </div>

                      <div class="col-10">
                        <!-- Heading -->
                        <h2 class="text-white fw-bold">Greg Eichler Solo</h2>
                        <!-- Player -->
                        <p class="mb-2 text-white-75">
                          Link Coming soon!
                        </p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    </div>
  </section>


  <!-- FOOTER -->
  {{> partials/footer}}

  <!-- TOAST -->
  {{> partials/toast}}

  <!-- JAVASCRIPT -->
  {{> partials/scripts}}

</body>

</html>