<!doctype html>
<html lang="en">

<head>
  {{> partials/head title="Latest News - AllovousMusic"}}
</head>

<body style="background-color: #008252;">

  <!-- NAVBAR -->
  {{> partials/navbar variant="dark" toggle="true" page="news-and-events.html"}}
  <header>
    <div class="pt-10 pb-8 pt-md-15 pb-md-13 bg-black"
      style="background-image: url(assets/img/WinterTour22.jpg); background-size: 60%; background-repeat: no-repeat; margin-top: 8%;  background-position: center;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">


          
                      <!-- Heading -->
                      <h1 class="display-6 fw-bold text-white">
                        Latest News!
                      </h1>



          </div>
        </div>
      </div>
    </div>
  </header>


  <section class="py-7 py-md-9">
    <div class="container">
      <div class="row justify-content-center">

          <!-- Subheading -->

          <div class="col-5 col-sm-4 col-md-6 bg-purple bx-shadow news">
            <h2 class="display-8 fw-bold text-white">
              Open Jam Sundays! 
            </h2>
            <h3 class="text-white-75">12/22/2021</h3>

            <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/openjam.jpg" }'>

              <img class="img-fluid" src="assets/img/openjam.jpg" alt="...">

            </a>
            <p class="text-white pnews">Join us at Geraldine's every sunday from 5-9 for the Allovous open jam! </br>
             </p>
                                 <!-- Button -->
            <a class="btn btn-outline-purple text-white text-black-hover mb-7 mb-md-0" href="https://goo.gl/maps/b7rKBn4qSVEB3KxZ9">
              Get Directions!
             </a>

          </div>
          <div class="col-4 col-sm-6 col-md-4 bg-blue bx-shadow news">
            <h2 class="display-8 fw-bold text-white mq1">
              Allovous Spotify Debut!
            </h1>
            <h3 class="text-white-75">12/22/2021</h3>
            <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/spotifyannounce.jpg" }'>

              <img class="img-fluid" src="assets/img/spotifyannounce.jpg" alt="...">

            </a>
            <p class="text-white pnews">Good news everyone! Allovous is now on spotify! click the link below to visit our music</br> page 
             to listen now!</p>
                         <!-- Button -->
            <a class="btn btn-outline-purple text-white text-black-hover mb-7 mb-md-0" href="music.html">
             Listen Now!
            </a>

          </div>
          <div class="col-6 col-sm-6 col-md-4 bg-teal bx-shadow news">
            <h2 class="display-6 fw-bold text-white">
              News heading one
            </h1>
            <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/6.jpg" }'>

              <img class="img-fluid" src="assets/img/6.jpg" alt="...">

            </a>
            <p class="text-white pnews">Text test 1234</p>

          </div>
          <div class="col-6 col-sm-6 col-md-4 bg-yellow bx-shadow news">
            <h2 class="display-6 fw-bold text-white">
              News heading one
            </h1>
            <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/6.jpg" }'>

              <img class="img-fluid" src="assets/img/6.jpg" alt="...">

            </a>
            <p class="text-white pnews">Text test 1234</p>

          </div>
          <div class="col-6 col-sm-6 col-md-4 bg-cyan1 bx-shadow news">
            <h2 class="display-6 fw-bold text-white">
              News heading one
            </h1>
            <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/6.jpg" }'>

              <img class="img-fluid" src="assets/img/6.jpg" alt="...">

            </a>
            <p class="text-white pnews">Text test 1234</p>

          </div>


        
      </div>
    </div>
  </section>


  <!-- FOOTER -->
  {{> partials/footer}}

  <!-- TOAST -->
  {{> partials/toast}}

  <!-- JAVASCRIPT -->
  {{> partials/scripts}}

</body>

</html>