<!doctype html>
<html lang="en" style="background-color: black;">

<head>
  {{> partials/head title="Tour Info - AllovousMusic"}}
</head>

<body style="background-color: black;">

  <!-- NAVBAR -->
  {{> partials/navbar variant="dark" toggle="true" page="reservation.html"}}

  <!-- HEADER -->
  <header>
    <div class="pt-10 pb-8 pt-md-15 pb-md-13 bg-black"
      style="background-image: url(assets/img/WinterTour22.jpg); background-size: 60%; background-repeat: no-repeat; margin-top: 8%;  background-position: center; ">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">

            <!-- Heading -->
            <h1 class="display-6 fw-bold text-transparent">

            </h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- EVENTS -->
  <section class="pt-7 pt-md-9" style=" background-color: #008252;">
    <div id="events">
      <div class="event">
        <div class="event-sm collapse">
          <div class="container">
            
          </div>
        </div>
        <div class="event-lg collapse show bg-cover" id="eventOne" data-bs-parent="#events"
          style="background-color: antiquewhite;">
          <div style=" background: rgb(145,135,194);
          background: radial-gradient(circle, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
          border-top: solid 4px azure;
          border-bottom: solid 4px azure;">
            <div class="container">
              <div class="row py-10">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5">
                  <h1 class="display-4 mb-4 text-white">
                   NEXT UPCOMING SHOW:
                  </h1>

                  <!-- Date -->
                  <h3 class="text-xs text-primary">
                    <time datetime="2022-01-06">January 06, 2022</time>
                  </h3>

                  <!-- Heading -->
                  <h2 class="mb-3 text-white text-align-center">
                    The Cellar on Treadwell
                  </h2>

                  <!-- Description -->
                  <p class="mb-6 text-white-75">
                    295 Treadwell St, Hamden, CT
                  </p>

                  <!-- Button -->
                  <a class="btn btn-outline-purple text-white text-black-hover"
                    href="https://www.ezevent.com/Live/TheDeadheadsTheWorsterBandAllovousPettyTheftTheCellar/01062022/737236?fbclid=IwAR0wQZjoI5Fyu3kudn8kTqfqWNo7EXyM8tE1qXZhUZUwwBR-HJeR0UKD__4">
                    Get Tickets!
                  </a>

                </div>
                <div class="col-md-4">
                  <!-- Item -->
                  <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/Winterposter1.jpg" }'>
                    <img class="img-fluid" src="assets/img/Winterposter1.jpg" alt="...">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="event-sm collapse show">
            <div class="container events">
              <div class="row align-items-center py-6">
                <div class="col-3 col-md-2 col-lg-1">

                  <!-- Date -->
                  <time class="d-block text-center text-black" datetime="2022-01-06">
                    <span class="d-block mb-2 display-6 font-serif">6</span>
                    <span>Jan</span>
                  </time>

                </div>
                <div class="col-9 col-md-7 col-lg-8">
                  <div class="col-12">
                    <h1 class="text-white" style="text-align: center;">
                      Tour Schedule
                    </h1>>
                  </div>>
                  <!-- Heading -->
                  <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#eventTwo"
                    aria-controls="eventTwo" role="button">
                    <h2 class="mb-3" style="font-weight: bolder;">
                      The Cellar on Treadwell
                    </h2>

                    <!-- Description -->
                    <p class="mb-6 text-size-75">
                      295 Treadwell St, Hamden, CT
                    </p>
                  </div>

                </div>
                <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                  <!-- Button -->
                  <a class="btn btn-outline-purple text-white text-black-hover" href="#section_reservation">
                    Get Tickets!
                  </a>

                </div>
              </div>
            </div>

          </div>

          <div class="event">
            <div class="event-sm collapse show">
              <div class="container events" style="border-top: solid 4px azure;">
                <div class="row align-items-center py-6">
                  <div class="col-3 col-md-2 col-lg-1">

                    <!-- Date -->
                    <time class="d-block text-center text-black" datetime="2022-01-07">
                      <span class="d-block mb-2 display-6 font-serif">7</span>
                      <span>Jan</span>
                    </time>

                  </div>
                  <div class="col-9 col-md-7 col-lg-8">

                    <!-- Heading -->
                    <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#eventTwo"
                      aria-controls="eventTwo" role="button">
                      <h2 class="mb-3" style="font-weight: bolder;">
                        Carmine's
                      </h2>

                      <!-- Description -->
                      <p class="mb-6 text-size-75">
                        389 Main St, East Hartford, CT
                      </p>
                    </div>

                  </div>
                  <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                    <!-- Button -->
                    <a class="btn btn-outline-purple text-white text-black-hover" href="#section_reservation">
                      Get Directions!
                    </a>

                  </div>
                </div>
              </div>
            </div>
            <div class="event-lg collapse bg-cover" id="eventTwo" data-bs-parent="#events"
              style="background-image: url(assets/img/9.jpg);">
              <div class="bg-black-50">
                <div class="container">
                  <div class="row py-10">
                    <div class="col-md-8 col-lg-5">

                      <!-- Date -->
                      <h3 class="text-xs text-primary">
                        <time datetime="2017-09-29">September 29, 2017</time>
                      </h3>

                      <!-- Heading -->
                      <h2 class="mb-3 text-white">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
                      </h2>

                      <!-- Description -->
                      <p class="mb-6 text-white-75">
                        Alias earum, labore doloremque iusto a modi et, dolorem veritatis iste quis ab. Facere est
                        optio,
                        voluptate molestias aspernatur impedit perferendis odit?
                      </p>

                      <!-- Button -->
                      <a class="btn btn-outline-purple text-white text-black-hover" href="#section_reservation">
                        Get Directions!
                      </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="event-sm collapse show">
              <div class="container events" style="border-top: solid 4px azure;">
                <div class="row align-items-center py-6">
                  <div class="col-3 col-md-2 col-lg-1">

                    <!-- Date -->
                    <time class="d-block text-center text-black" datetime="2022-01-15">
                      <span class="d-block mb-2 display-6 font-serif">15</span>
                      <span>Jan</span>
                    </time>

                  </div>
                  <div class="col-9 col-md-7 col-lg-8">

                    <!-- Heading -->
                    <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#eventTwo"
                      aria-controls="eventTwo" role="button">
                      <h2 class="mb-3" style="font-weight: bolder;">
                        Legion 351
                      </h2>

                      <!-- Description -->
                      <p class="mb-6 text-size-75">
                        50 St. Kolbe Dr, Holyoke, MA
                      </p>
                    </div>

                  </div>
                  <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                    <!-- Button -->
                    <a class="btn btn-outline-purple text-white text-black-hover" href="#section_reservation">
                      Get Directons!
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="event-sm collapse show">
              <div class="container events" style="border-top: solid 4px azure;">
                <div class="row align-items-center py-6">
                  <div class="col-3 col-md-2 col-lg-1">

                    <!-- Date -->
                    <time class="d-block text-center text-black" datetime="2022-02-11">
                      <span class="d-block mb-2 display-6 font-serif">11</span>
                      <span>Feb</span>
                    </time>

                  </div>
                  <div class="col-9 col-md-7 col-lg-8">

                    <!-- Heading -->
                    <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#eventTwo"
                      aria-controls="eventTwo" role="button">
                      <h2 class="mb-3" style="font-weight: bolder;">
                        Legion 351
                      </h2>

                      <!-- Description -->
                      <p class="mb-6 text-size-75">
                        50 St. Kolbe Dr, Holyoke, MA
                      </p>
                    </div>

                  </div>
                  <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                    <!-- Button -->
                    <a class="btn btn-outline-purple text-white text-black-hover" href="#section_reservation">
                      Get Directons!
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="event-sm collapse show">
              <div class="container events" style="border-top: solid 4px azure;">
                <div class="row align-items-center py-6">
                  <div class="col-3 col-md-2 col-lg-1">

                    <!-- Date -->
                    <time class="d-block text-center text-black" datetime="2022-02-12">
                      <span class="d-block mb-2 display-6 font-serif">12</span>
                      <span>Feb</span>
                    </time>

                  </div>
                  <div class="col-9 col-md-7 col-lg-8">

                    <!-- Heading -->
                    <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#eventTwo"
                      aria-controls="eventTwo" role="button">
                      <h2 class="mb-3" style="font-weight: bolder;">
                        Geraldine's
                      </h2>

                      <!-- Description -->
                      <p class="mb-6 text-size-75">
                        116 School St, Chicopee, MA
                      </p>
                    </div>

                  </div>
                  <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                    <!-- Button -->
                    <a class="btn btn-outline-purple text-white text-black-hover" href="https://goo.gl/maps/b7rKBn4qSVEB3KxZ9">
                      Get Directons!
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="event-sm collapse show">
              <div class="container events" style="border-top: solid 4px azure;">
                <div class="row align-items-center py-6">
                  <div class="col-3 col-md-2 col-lg-1">

                    <!-- Date -->
                    <time class="d-block text-center text-black" datetime="2022-02-28">
                      <span class="d-block mb-2 display-6 font-serif">28</span>
                      <span>Feb</span>
                    </time>

                  </div>
                  <div class="col-9 col-md-7 col-lg-8">

                    <!-- Heading -->
                    <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#eventTwo"
                      aria-controls="eventTwo" role="button">
                      <h2 class="mb-3" style="font-weight: bolder;">
                        The Jungle
                      </h2>

                      <!-- Description -->
                      <p class="mb-6 text-size-75">
                        6 Sanborn Ct, Somerville, MA
                      </p>
                    </div>

                  </div>
                  <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                    <!-- Button -->
                    <a class="btn btn-outline-purple text-white text-black-hover" href="#section_reservation">
                      Get Directions!
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
  </section>

  <!-- FOOTER -->
  {{> partials/footer}}

  <!-- TOAST -->
  {{> partials/toast}}

  <!-- JAVASCRIPT -->
  {{> partials/scripts}}

</body>

</html>