// 
// user.scss
// Use this to write your custom SCSS
//
.bx-shadow
{
    border: 2px solid blue; box-shadow: rgb(51, 51, 51) 5px 10px 10px, rgb(51, 51, 51) -5px 10px 10px;
}
.news
{
 padding: 3%;
 margin: 3%;
 box-sizing:border-box;
 
}
.pnews
{
    max-height: inherit;
    word-break: break-word;
}

